/* Write your code here. */

.thumbnail {
  max-width: 100px;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
}

.un-selected {
  opacity: 0.5;
}
.button {
  background-color: transparent;
  border-width: 0px;
}
